<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 mt-3">
      <h1>Questions</h1>
      <div class="text-right">
        <%= link_to  "Ask a new Question", new_question_path, class: 'btn btn-primary btn-sm' %>
      </div>
      <!--<% if user_signed_in? %> <% end %> %-->
      
      <% @questions.each do |question| %>
      <hr>
      <h4><%= link_to  "#{question.title}", question %></h4>
      <p class="publish_by">Published by <%= question.user.email %> <%= time_ago_in_words(question.created_at) %></p>
      <div class="mb-3">
        <% if user_signed_in? && current_user == question.user %>
        <%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="mb-2">
        <%= link_to 'upvote', like_question_path(question), method: :put %>
          <% @counter = question.get_likes.size %>
          <%= @counter %>
        <%= link_to 'downvote', dislike_question_path(question), method: :put %>
      </div>
      <% end %>
    </div>
  </div>
</div>
