<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <%= link_to 'Back', root_path %>
      <h1 class="mt-2" ><%= @question.title %></h1>
      <div class="row">    
        <div class="col-sm-1">
          <div class="text-center">        
          <% voted = 'voted' if current_user && (current_user.voted_up_on? @question) %> 
          <%= link_to "<i class='fas fa-caret-up fa-3x #{voted}'></i>".html_safe, like_question_path(@question), method: :put %>
          </div> 
            <h3 class="text-center <%= voted %>"><%= @question.get_likes.size %></h3>
          <div class="text-center">
            <%= link_to '<i class="fas fa-caret-down fa-3x"></i>'.html_safe, dislike_question_path(@question), method: :put %>  
          </div>
        </div>

        <div class="col-sm-11">
          <p><%= markdownify(@question.content) %></p>
          <hr>
          <%= render partial: "comments/comments", object: @question, as: 'commentable' %>
          <%= render partial: "comments/form", locals: {comment: @question} if user_signed_in? %>
        </div>
      </div>

      <h4><%= @question.answers.count %> Answer(s)</h4>
      <hr>
       <% if @question.answers.count == 0 %>
        <p class="ml-3 text-secondary">Do you think you have the right answer to this question?</p>
      <% end %>
      <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="col-sm-1">
          <div class="text-center">
            <% voted_answer = 'voted' if current_user && (current_user.voted_up_on? answer) %> 
            <%= link_to "<i class='fas fa-caret-up fa-2x #{voted_answer}'></i>".html_safe, like_answer_path(answer), method: :put %>
          </div>
          <h4 class="text-center <%= voted_answer %>">
            <%= answer.get_likes.size %>
          </h4>
          <div class="text-center">
            <%= link_to '<i class="fas fa-caret-down fa-2x"></i>'.html_safe, dislike_answer_path(answer), method: :put %>  
          </div>
        </div>

        <div class="col-sm-11">
          <%= markdownify answer.content %>
          <%= render partial: "comments/comments", object: answer, as: 'commentable' %>
          <%= render partial: "comments/form", locals: {comment: answer} if user_signed_in?  %>
        </div>

      </div>
        
      <% end %>
      
      <% if user_signed_in? %>
      
      <h4 class="mt-5">Your answer</h4>
        <hr>
        <%= form_for [@question, @question.answers.build] do |f| %>
          <div class="form-group mt-2">
            <%= f.text_area :content, class: "form-control", rows: 5,  placeholder: "Write your answer" %>
            <div class="text-right mt-2">
              <%= f.submit 'Submit answer', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
